<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Industry experts with 15 years experience building scalable robust software</h2>
                <hr class="light">
                <p class="text-faded">
                    Codecrafter Solutions can provide extensive expertise in Azure cloud services, .NET, SQL Server, and many other technologies.
                    We can help you build a scalable, robust software solution that will grow with your business.
                </p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
